@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --main-text-color: #1d1d1d;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "roboto", sans-serif;
}
/*GLOBAL STYLES*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
h1 {
  font-size: 3.6rem;
  color: var(--main-text-color);
}
button {
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--main-text-color);
  padding: 1rem 3.7rem;
  outline: none;
  font-size: 2rem;
}
#btt {
  width: 30px;
  height: 30px;
  background: var(--main-text-color);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 6;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  transition: color 0.25s, background 0.25s, border 0.25s ease-in-out;
}
#btt i {
  color: white;
  transform: rotate(180deg);
  font-size: 1rem;
}

#btt:hover {
  background: white;
  border: 1px solid var(--main-text-color);
  transition: color 0.25s, background 0.25s, border 0.25s ease-in-out;
  cursor: pointer;
}
.greyarrow {
  color: var(--main-text-color) !important;
}
/*NAV*/
.fixed-nav {
  top: 1;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.nav-bar {
  display: flex;
  width: 100%;
  box-shadow: 0px 0.2px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  position: relative;
  align-items: center;
  background: white;
}

.logo {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -0%);
}
.logo h1 {
  font-weight: 400;
  line-height: 2.1rem;
  font-size: 2.4rem;
  color: var(--main-text-color);
}
.logo h1 span {
  font-weight: 800;
  font-size: 1.8rem;
}
.nav-icons {
  display: flex;
  padding: 3.9rem 3.9rem 3.9rem 0;
}
.nav-icons a {
  font-size: 1.4rem;
  color: var(--main-text-color);
  font-weight: 800;
}
.nav-icons i {
  font-size: 1.9rem;
  color: var(--main-text-color);
  padding-left: 7rem;
}
.fa-bars {
  font-size: 1.9rem;
  color: var(--main-text-color);
  padding: 3.9rem;
}

/*HERO-SECTION*/
.hero-section {
  padding-top: 10rem;
  height: 100vh;
}
.container {
  height: 80%;
  width: 80%;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-section .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.hero-image {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.836),
      rgba(255, 255, 255, 0)
    ),
    url(./img/bespoke-suit.jpg);
  background-size: cover;
  width: 80%;
  height: 70%;
  margin: auto;
  justify-self: center;
  align-self: center;
  filter: saturate(40%);
}
.container h2 {
  position: absolute;
  color: white;
  font-size: 3.2rem;
  z-index: 1;
  padding-bottom: 3rem;
}
.container i {
  position: absolute;
  color: white;
  font-size: 2.2rem;
  z-index: 1;
  padding-top: 9rem;
  padding-bottom: 3rem;
  transition: ease-out;
  animation: scrolldown 1s ease 2s infinite alternate;
}
@keyframes scrolldown {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
/*.hero-image-container h2::after {
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 0;
  z-index: 3;
  transform: translate(-50%, -0%);
  background: white;
  position: absolute;
}*/
.hero-section {
  position: relative;
}
.social-bar {
  width: 2rem;
  display: flex;
  transform: rotate(-90deg);
  z-index: 2;
  position: absolute;
  justify-content: center;
  padding-top: 7.5rem;
  top: 50%;

  left: 0px;
}
.social-links {
  display: flex;
  justify-content: space-between;
}
.social-links li {
  font-size: 1.6rem;
  font-weight: 800;
  padding-left: 3rem;
  color: var(--main-text-color);
  text-transform: uppercase;
}
.social-links a {
  transition: color 0.25s ease-in-out;
}
.social-links li a:hover {
  color: #a0a0a0;
  transition: color 0.25s ease-in-out;
}
.social-links li:first-child {
  padding-left: 0rem;
} /*
.slides {
  display: flex;
  transform: rotate(-90deg);
  z-index: 6;
  position: absolute;
  justify-content: center;
  padding-top: 6rem;
  right: 0px;
}
.slide-lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide {
  width: 2rem;
  height: 1rem;
  background: red;

  border: 2px solid black;
}
*/
/*UNDER HERO*/
.underhero {
  width: 100%;
  background: black;
  filter: saturate(0%);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}
.underhero-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.underhero-container p {
  font-size: 1.8rem;
  font-weight: 400;
}
.underhero-container h1 {
  color: white;
  font-size: 2.8rem;
  padding-bottom: 2rem;
}
.underhero-content {
  width: 100%;
}

/*ABOUT SECTION*/
.about {
  height: 85vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.about .container {
  position: absolute;
  top: 0;
}
.about-bg {
  width: 100vw;
  height: 100%;
  margin: auto;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    url(./img/English-Cut-Men-About-Town-01-1-2000x1225.jpg);
  background-size: cover;
  transform: scaleX(-1);
  outline: none;
  border: none;
}
.about-content {
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  text-align: right;
  height: auto;
  padding-bottom: 3rem;
  width: 50%;
}
.about-content h2 {
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 3.6rem;
  position: static;
  color: black;
}
.about-content p {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 7.2rem;
}
.about button {
  transition: background 0.5s, color 0.5s ease-in-out;
}
.about button:hover {
  background: var(--main-text-color);
  color: white;
  transition: background 0.5s, color 0.5s ease-in-out;
  cursor: pointer;
}

/*MTM SECTION*/
.mtm {
  height: 85vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mtm .container {
  position: absolute;
  top: 0;
}
.mtm-bg {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(./img/english-cut-made-to-measure-code-2-1024x684.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  outline: none;
  border: none;
}
.mtm-content {
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  text-align: left;
  height: auto;
  padding-bottom: 3rem;
  width: 52%;
}
.mtm-content h2 {
  font-size: 4rem;
  padding-bottom: 3.6rem;
  position: static;
  text-transform: uppercase;
  color: white;
}
.mtm-content p {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 7.2rem;
  color: white;
}
.mtm-content button {
  color: white;
  border: 2px solid white;
}
.mtm button {
  transition: background 0.5s, color 0.5s ease-in-out;
}
.mtm button:hover {
  background: white;
  color: var(--main-text-color);
  transition: background 0.5s, color 0.5s ease-in-out;
  cursor: pointer;
}

/*FEATURE SECTION*/
.feature {
  height: 85vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.feature .container {
  position: absolute;
  top: 0;
}
.feature-bg {
  width: 100vw;
  height: 100%;
  margin: auto;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.308)),
    url(./img/English-Cut-Jim-Sturgess-01-1-2000x1225.jpg);
  background-size: cover;
  transform: scaleX(1);
  outline: none;
  border: none;
}
.feature-content {
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  text-align: right;
  height: auto;
  padding-bottom: 3rem;
  width: 50%;
}
.feature-content h2 {
  font-size: 5.6rem;
  color: white;
  text-transform: uppercase;
  padding-bottom: 2rem;
  position: static;
  position: relative;
}
.feature-content h3 {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.feature button {
  color: rgb(255, 255, 255);
  border: 2px solid white;
  transition: background 0.5s, color 0.5s ease-in-out;
  margin-top: 14rem;
}
.feature button:hover {
  background: white;
  color: var(--main-text-color);
  transition: background 0.5s, color 0.5s ease-in-out;
  cursor: pointer;
}
.feature-content h2::before {
  content: "";
  width: 90px;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*GALLERY SECTION*/
.insta-gallery .container {
  top: 0;
  min-height: 100vh;
}
.insta-gallery {
  max-height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cards {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
}
.bg {
  cursor: pointer;
  height: 35rem;
  width: 35rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 4rem;
  filter: saturate(0);
  transition: filter 0.5s ease-in-out;
}
.bg:hover {
  filter: saturate(1);
  transition: filter 0.5s ease-in-out;
}
.bg1 {
  background: url(./img/89402896_1361925964181229_489676135223981003_n.jpg);
  background-size: cover;
}
.bg2 {
  background: url(./img/84077504_110848927119939_8203321023206063485_n.jpg);
  background-size: cover;
}
.bg3 {
  background: url(./img/79036069_159565435326124_4997886238833478410_n.jpg);
  background-size: cover;
}
.bg4 {
  background: url(./img/72979097_172309574151970_5521300629065040017_n.jpg);
  background-size: cover;
}
.bg5 {
  background: url(./img/73420153_171580753906918_7878691335419414551_n.jpg);
  background-size: cover;
}
.bg6 {
  background: url(./img/74607435_171153960613546_9097321930635733404_n.jpg);
  background-size: cover;
}
.text {
  width: 100%;

  background: red;
  position: relative;
}
.insta-gallery {
  display: flex;
  flex-direction: column;
}
.insta-gallery h2 {
  display: flex;
  font-size: 2.4rem;
  z-index: 2;
  font-weight: 600;
  position: absolute;
  color: black;
  top: 0;
}
.insta-gallery a {
  padding-left: 0.8rem;
}
.insta-gallery h2::after {
  content: "";
  width: 70px;
  height: 2px;
  background: var(--main-text-color);
  position: absolute;
  bottom: 0;
  right: 0;
}
.instalink {
  position: absolute;
  left: 0;
  width: 100%;
  transform: rotate(-90deg);
  display: flex;
  z-index: 5;
}
.insta-gallery a:hover {
  transition: color 0.25s ease-in-out;
  color: #a0a0a0;
}
.insta-gallery a {
  transition: color 0.25s ease-in-out;
}

/*CONTACT SECTION*/
.contact-us {
  display: flex;
  height: 85vh;
  z-index: -1;
}
.contact-content {
  flex: 1.2 1 40px;
  background: var(--main-text-color);
}
.contact-content h1 {
  color: white;
}
.contact-content p {
  font-size: 2.4rem;
}
.contact-image {
  flex: 1 1 40px;
  background: url(./img/area-image5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: saturate(0);
}
.contact-text {
  margin: 15rem 10rem 0 10rem;
}
#email {
  background: none;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 2.8rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 150%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
.email {
  padding-bottom: 5rem;
}
form {
  display: inline-block;
}
#submit {
  background: none;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 1rem 3.7rem;
  outline: none;
  color: white;
  cursor: pointer;
  transition: color 0.25s, background 0.25s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
#submit:hover {
  background: white;
  color: var(--main-text-color);
  transition: color 0.25s, background 0.25s ease-in-out;
}
.contact-heading {
  padding-bottom: 5rem;
}
.contact-heading p {
  color: white;
  font-size: 3.2rem;
}
.contact-heading h1 {
  padding-bottom: 4.5rem;
  margin-bottom: 6rem;
  font-size: 4rem;
  position: relative;
}
.contact-heading h1::before {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: white;
}
#email::placeholder {
  color: #a0a0a0;
}
form {
  width: 65%;
}

/*FOOTER*/
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.footer-links {
  display: flex;
  width: 80%;
  z-index: 6;
  justify-content: space-evenly;
}
.footer-links li a {
  font-weight: 800;
  transition: color 0.25s ease-in-out;
}
.footer-links li a:hover {
  color: #a0a0a0;
  transition: color 0.25s ease-in-out;
}

@media only screen and (max-width: 1080px) {
  .social-bar {
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 1040px) {
  .contact-image {
    display: none;
  }
  #email {
    width: 100%;
  }
}

@media only screen and (max-width: 974px) {
  .bg {
    width: 45rem;
  }
}
@media only screen and (max-width: 786px) {
  .hero-section {
    padding-top: 0;
  }
  .about-content h2 {
    color: white;
  }
  .mtm-content {
    left: 50%;
    transform: translateX(-50%);
  }
  .feature-content {
    left: 50%;
    transform: translateX(-50%);
  }
  body {
    text-align: center;
  }
  .nav-icons li:first-child {
    display: none;
  }
  .about-content {
    text-align: center;
    width: 85%;
    color: white;
    font-size: 2.4rem;
  }
  .about-content p {
    padding-bottom: 7.2rem;
  }
  .feature-content {
    text-align: center;
    width: 85%;
    color: white;
    font-size: 2.4rem;
  }
  .about button {
    color: white;
    border: 2px solid white;
  }
  #btt {
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
  }
  #btt i {
  }
  .about {
    display: flex;
    align-items: center;
  }
  .about-content {
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    padding: 0;
  }
  .about-bg {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.836),
        rgba(255, 255, 255, 0)
      ),
      url("./img/English-Cut-Men-About-Town-01-1-2000x1225.jpg");
    background-size: cover;
  }
  .mtm-content {
    text-align: center;
    width: 85%;
  }
  .mtm-bg {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.836),
        rgba(255, 255, 255, 0)
      ),
      url("./img/english-cut-made-to-measure-code-2-1024x684.jpg");
    background-size: cover;
  }
  .feature-content {
    text-align: center;
    width: 85%;
  }
  .feature-content button {
    margin-top: 7.2rem;
  }
  .feature-content h2 {
    font-size: 4rem;
  }
  .feature-content h2::before {
    left: 41%;
  }
  .contact-us {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: var(--main-text-color);
    text-align: center;
  }
  .contact-heading {
    margin: auto;
  }
  .contact-text {
    padding: 5rem 0;
  }
  .contact-heading h1::before {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .footer-links {
    flex-direction: column;
    text-align: center;
  }
  .footer-links li {
    margin-bottom: 5rem;
  }
  footer {
    height: 100%;
    padding-top: 5rem;
  }
  footer p {
    width: 80%;
    margin: auto;
  }
  .hero-section .social-bar {
    transform: rotate(0);
    justify-content: center;
    align-content: center;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, -0%);
    width: auto;
    color: white;
    height: fit-content;
    margin-bottom: 2%;
    top: 80%;
    width: auto;
    color: white;
  }
  .social-bar li a {
    color: var(--main-text-color);
  }

  .hero-section h2 {
    font-size: 2.8rem;
  }
  .whitespace {
    height: 10vh;
    background: white;
  }
  .hero-section .container {
    margin: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  form {
    width: 80%;
  }
  #submit {
    width: 100%;
    margin-bottom: 10rem;
  }
  .contact-heading {
    width: 100%;
  }
  .contact-heading p {
    font-size: 2.4rem;
  }
  .footer {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 700px) {
  .hero-image,
  .about-bg,
  .mtm-bg,
  .feature-bg {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  .nav-bar {
    max-width: 100vw;
  }
  .hero-image-container h2 {
    text-align: center;
  }
  .hero-section .social-bar {
    top: 75%;
  }
  .underhero {
    background-color: rgb(255, 255, 255);
  }
  .underhero-container h1 {
    font-size: 1.8rem;
    color: var(--main-text-color);
  }
  .underhero-container p {
    font-size: 1.6rem;
    color: var(--main-text-color);
  }
  #btt {
    visibility: hidden;
    display: none;
  }

  .mtm {
    display: flex;
    align-items: center;
  }
  .feature {
    display: flex;
    align-items: center;
  }
  .feature-content h3 {
    padding-top: 0rem;
  }
  .mtm-content {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 0;
    padding: 0;
  }
  .contact-content {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .contact-text {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  input#email {
    width: 100%;
    font-size: 1.8rem;
  }
  #submit {
    font-size: 2rem;
  }
  .contact-text h1 {
    font-size: 3.2rem;
  }
  .contact-text p {
    font-size: 1.8rem;
  }
  .contact-heading {
    width: 80%;
  }
  .contact-heading h1 {
    padding-bottom: 2.25rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    position: relative;
  }
  .contact-heading h1::before {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .contact-image {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .hero-image,
  .about-bg,
  .mtm-bg,
  .feature-bg {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
  }
  .about .hero-image-container h2 {
    text-align: center;
    padding: 2rem 2rem;
  }
  .social-bar li a {
    color: white;
  }
  .social-bar li {
    margin-bottom: 10rem;
  }
  .whitespace {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  body {
    text-align: center;
  }
  .underhero {
    height: 50vh;
  }
  .container {
    margin: 5rem 0;
  }

  .hero-section .container {
    margin: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 420px) {
  .insta-gallery h2 {
    font-size: 1.8rem;
  }
  .cards {
    width: 100%;
  }
  .insta-gallery .container {
    width: 100%;
  }
  .bg {
    filter: saturate(1);
  }
}

@media only screen and (max-width: 320px) {
  .logo h1 {
    font-size: 1.8rem;
  }
  .logo h1 span {
    font-size: 1.6rem;
  }
  body .hero-section .social-bar {
    margin: auto;
    top: 52.5%;
  }
  .social-links {
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social-links li {
    margin: 1rem auto;
    padding-left: 0;
  }
  .social-links a {
    margin: auto;
    text-align: center;
  }
  .about .container,
  .mtm .container,
  .feature .container {
    width: 100%;
  }
  .mtm p {
    padding-bottom: 6.8rem;
  }
  .contact-heading h1 {
    margin-top: 5rem;
  }
  .footer {
    margin-top: 5rem;
  }
}
